.gray-content-block.middle-block
  .pull-right
    - if can?(current_user, :update_build, @project)
      - if ci_commit.builds.latest.failed.any?(&:retryable?)
        = link_to "Retry failed", retry_builds_namespace_project_commit_path(@project.namespace, @project, ci_commit.sha), class: 'btn btn-grouped btn-primary', method: :post

      - if ci_commit.builds.running_or_pending.any?
        = link_to "Cancel running", cancel_builds_namespace_project_commit_path(@project.namespace, @project, ci_commit.sha), data: { confirm: 'Are you sure?' }, class: 'btn btn-grouped btn-danger', method: :post

  .oneline
    = pluralize ci_commit.statuses.count(:id), "build"
    - if ci_commit.ref
      for
      %span.label.label-info
        = ci_commit.ref
    - if defined?(link_to_commit) && link_to_commit
      for commit
      = link_to ci_commit.short_sha, namespace_project_commit_path(@project.namespace, @project, ci_commit.sha), class: "monospace"
    - if ci_commit.duration
      in
      = time_interval_in_words ci_commit.duration

- if ci_commit.yaml_errors.present?
  .bs-callout.bs-callout-danger
    %h4 Found errors in your .gitlab-ci.yml:
    %ul
      - ci_commit.yaml_errors.split(",").each do |error|
        %li= error
    You can also test your .gitlab-ci.yml in the #{link_to "Lint", ci_lint_path}

- if @project.builds_enabled? && !ci_commit.ci_yaml_file
  .bs-callout.bs-callout-warning
    \.gitlab-ci.yml not found in this commit

.table-holder
  %table.table.builds
    %thead
      %tr
        %th Status
        %th Build ID
        %th Stage
        %th Name
        %th Duration
        %th Finished at
        - if @project.build_coverage_enabled?
          %th Coverage
        %th
    - builds = ci_commit.statuses.latest.ordered
    = render builds, coverage: @project.build_coverage_enabled?, stage: true, ref: false, allow_retry: true

- if ci_commit.retried.any?
  .gray-content-block.second-block
    Retried builds

  .table-holder
    %table.table.builds
      %thead
        %tr
          %th Status
          %th Build ID
          %th Ref
          %th Stage
          %th Name
          %th Duration
          %th Finished at
          - if @project.build_coverage_enabled?
            %th Coverage
          %th
      = render ci_commit.retried, coverage: @project.build_coverage_enabled?, stage: true, ref: false
